@import '../../../index.scss';

.button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: $transparent-color;
    color: $dark-gray;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;

    &:hover {
        background-color: $dark-gray;
        color: $light-gray;
        box-shadow: 0 0 0.5rem $dark-gray;
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            background-color: $transparent-color;
            color: $dark-gray;
            box-shadow: none;
        }
    }
}

.button_inverse {
    background-color: $light-gray;
    color: $dark-gray;

    &:hover {
        background-color: $dark-gray;
        color: $light-gray;
    }
}

.button__text_inverse {
    color: $light-gray;
}

.button_no_hover {
    padding: 0.5rem 1rem;
    border: none;
    background-color: $transparent-color;
    color: $dark-gray;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;

    &:disabled {
        opacity: 0.5;

        &:hover {
            background-color: $transparent-color;
            color: $dark-gray;
            box-shadow: none;
        }
    }
}

.button_transparent {
    background-color: $transparent-color;
    color: $light-gray;

    &:hover {
        background-color: $light-gray;
        color: $dark-gray;
    }
}

.button_modal {
    padding: 0.3rem 3.4rem;
    color: $dark-gray;
    border: 2px solid $dark-gray;

    &:hover {
        background-color: $transparent-color;
        color: $dark-gray;
        border-color: $dark-gray;
        box-shadow: 0.4rem 0.4rem 0 $dark-gray;
        transform: translate(-0.4rem, -0.4rem);
    }

    &:focus {
        background-color: $transparent-color;
        color: $dark-gray;
        border-color: $dark-gray;
        box-shadow: 0.4rem 0.4rem 0 $dark-gray;
        transform: translate(-0.4rem, -0.4rem);
    }

    &:last-child {
        margin: 0;
    }
}