@import "../../../index.scss";

.header {
    height: 50px;
    background-color: $dark-gray;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: $light-gray;
    overflow: hidden;
}

.header_light {
    background-color: $white;
    color: $dark-gray;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-position: bottom;
    background-size: 100% 8px;
    background-repeat: no-repeat;
}

.header__title {
    margin: 0;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.list__item {
    margin-left: 1rem;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
    &:hover {
        &>.header__title {
            animation: jumping infinite 1s;
        }
    }

    @media screen and (max-width: 576px) {
        .header__title {
            display: none;
        }

        &:hover {
            animation: none;
        }
    }
}

@keyframes jumping {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(-0.25rem);
    }

    100% {
        transform: none;
    }
}

.icon__wrapper {
    position: relative;
    display: inline-block;

    &:hover {
        &>.knife__wrapper {
            top: 15%;
        }
        &>.icon{
            transform: scale(1.2);
        }
        &>.knife__wrapper>.knife__icon {
            visibility: visible;
            transform: rotate(90deg);
        }
    }
}

.knife__wrapper {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(50%, 50%);
    transition: top 0.3s ease-in;
}

.knife__icon {
    visibility: hidden;
    transform: rotate(160deg);
    transition: visibility 0.2s, transform 0.2s ease-in;
    animation: knife 0.5s infinite;
    z-index: 1;
}

@keyframes knife {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(100deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.icon{
    transform: scale(1);
    transition: transform 0.2s ease-in;
    z-index: 0;
}

.btn_header {
    color: $light-gray;
}