@import './assets/styles/normalize.scss';

$black: #131212;
$white: #fff;
$light-gray: #e4e4e4;
$red: #f00;
$dark-gray: #2b2d31;
$accent-color: #1e1e1e;
$light-gray-second: #f5f5f5;
$dark-gray-second: #34363a;
$transparent-color: rgba(0, 0, 0, 0);
$light-green: rgba(130, 217, 141, 0.5);

$red: rgba(157, 35, 35, 0.3);
$red-accent: rgba(157, 35, 35, 1);
$orange: rgba(255, 127, 0, 0.3);
$orange-accent: rgba(255, 127, 0, 1);
$green: rgba(0, 128, 0, 0.3);
$green-accent: rgba(0, 128, 0, 1);
$blue: rgba(0, 0, 255, 0.3);
$blue-accent: rgba(0, 0, 255, 1);
$purple: rgba(128, 0, 128, 0.3);
$purple-accent: rgba(128, 0, 128, 1);
$yellow: rgba(255, 255, 0, 0.3);
$yellow-accent: rgba(255, 255, 0, 1);



body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: $dark-gray;

}

:root {
    --primary-color: #8774e1;
    --text-primary-color: #8774e1;
    --bg-color: rgb(33, 33, 33);
    --secondary-bg-color: #2b2d31;
    --text-secondary-color: #d9d9d9;
    --hint-color: rgba(115, 115, 115, 0.8);

    --map-no-data-color: hsla(0, 0%, 60.8%, 0.49019607843137253);
    --map-success-color: rgba(130, 217, 141, 1);
    --map-warn-color-1: #fff113;
    --map-warn-color-2: #ff9200;
    --map-danger-color: #f44336;

    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;

    --font-size-sm: 12px;
    --font-size-md: 22px;
    --font-size-lg: 32px;

    --border-radius-sm: 8px;
    --border-radius-md: 10px;
    --border-radius-lg: 20px;
}

.hint {
    width: 12em;
    min-height: 6em;
    padding: var(--space-md);
    border-radius: var(--border-radius-md);
    background-color: var(--bg-color);
    border: 1px var(--hint-color) solid;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hint-header {
    color: var(--primary-color);
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-sm);
    font-weight: bold;
}

.hint-hint {
    color: var(--hint-color);
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-sm);
}

.hint-desc {
    font-size: var(--font-size-md);
    color: var(--text-secondary-color);
}

.map-custom-button {
    color: var(--primary-color);
    text-align: center;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.map-info {
    border-radius: var(--border-radius-lg);
    background-color: var(--bg-color);
    width: 8em;
    height: 8em;
    z-index: 20;
    padding: 12px;
}

.map-info-header {
    color: var(--primary-color);
    font-size: var(--font-size-md);
    font-weight: bold;
}

.map-info-text {
    color: var(--hint-color);
    font-size: var(--font-size-sm);
    font-weight: bold;
}

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
    &:after {
        position: absolute;
        content: "";
        top: $y;
        left: $x;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transform: scale($size, $size);
        -webkit-filter: blur($spread);
        -moz-filter: blur($spread);
        -ms-filter: blur($spread);
        filter: blur($spread);
        background: linear-gradient(270deg, $colorA, $colorB);
        background-size: 200% 200%;
        animation: animateGlow $duration ease infinite;

        @keyframes animateGlow {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    }
}

.link {
    color: $light-gray;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-out;

    @media screen and (max-width: 576px) {
        font-size: 0.8rem;
    }

    &:after {
        content: " ";
        width: 100%;
        height: 1px;
        background: $light-gray;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: all 0.2s ease-out;
    }

    &:before {
        content: " ";
        width: 4px;
        height: 4px;
        background: $light-gray;
        position: absolute;
        right: -4px;
        bottom: 0;
        opacity: 0;
    }

    &:hover {
        transition: all 0.1s ease-out;

        &:after {
            width: 0px;
            transition: all 0.1s ease-out;
        }

        &:before {
            opacity: 1;
            animation: blink 0.4s infinite 0.1s;
            transition: all 0.1s ease-out;
        }
    }

    &:hover {
        color: $light-gray;
    }

    &:focus {
        &:before {
            width: 0px;
        }

        &:after {
            width: 0px;
        }

        &:hover {
            padding: 0 0;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.link_light {
    color: $dark-gray;

    &:hover {
        color: $dark-gray;
    }

    &:after {
        background: $dark-gray;
    }

    &:before {
        background: $dark-gray;
    }
}

body.light-mode {
    background-color: $light-gray;
    color: $dark-gray;
}

body.dark-mode {
    background-color: $dark-gray;
    color: $light-gray;
}

.cursor_none {
    cursor: none;

    &:hover {
        cursor: none;
    }
}

.cursor_crosshair {
    cursor: crosshair;

    &:hover {
        cursor: crosshair;
    }
}

.user-select-none {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.form__item {
    width: 100%;
}

.position_relative {
    position: relative;
}

.background_slide {
    background-color: $dark-gray;
    background-image: linear-gradient(45deg,
            $dark-gray-second 25%,
            transparent 25%,
            transparent 75%,
            $dark-gray-second 75%,
            $dark-gray-second),
        linear-gradient(-45deg,
            $dark-gray-second 25%,
            transparent 25%,
            transparent 75%,
            $dark-gray-second 75%,
            $dark-gray-second);
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120px 60px;
    }
}

.background_slide_light {
    background-color: $light-gray;
    background-image: linear-gradient(45deg,
            $light-gray-second 25%,
            transparent 25%,
            transparent 75%,
            $light-gray-second 75%,
            $light-gray-second),
        linear-gradient(-45deg,
            $light-gray-second 25%,
            transparent 25%,
            transparent 75%,
            $light-gray-second 75%,
            $light-gray-second);
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
}

.link_no_animation {
    animation: none;

    &:hover {
        animation: none;
    }
}

.border-box {
    box-sizing: border-box;
}


.backlight-flashing {
    @include backlight(0, 0, 10rem, 0.9, $black, $white, 1s);
}

